<div class='field field_checkbox'>
	<button onclick="checkBox.toggle(this);
	{{action}}('{{name}}', this.hasAttribute('active'));" type="button" class="field_wrapper">
		<span class="field_icon"></span>
		<span class="field_label field_label_checkbox">{{label}}</span>
	</button>
</div>